<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LISTA DE USUARIOS</title>
    <br/>
    {% for owner in owners %}
        <p>{{ owner.nombre }}</p>
    {% endfor %}


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus error exercitationem id itaque libero ratione tempora voluptates? At culpa dolore iste natus numquam obcaecati officia saepe totam! Excepturi incidunt modi necessitatibus praesentium.</p>


</head>
<body>

</body>
</html>
