{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet"  type="text/css" href="{% static 'css/owner.css' %}">
{% endblock css %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
  <div class="ow-l-1">
    {% for owner in owners %}
      {% if owner.edad > 18 %}
        <p>Bienvenido Sr(a){{ owner.nombre }},
          usted es <strong style="color: green">mayor de edad con {{ owner.edad }} años</strong>,
          con Nacionalidad:{{ owner.nacionalidad }} </p>
      {% else %}
        <p>Lo sentimos Sr(a) {{ owner.nombre }},
          pero es <strong style="color: red">menor de edad ya que tiene {{ owner.edad }} años</strong>;
          tiene Nacionalidad:{{ owner.nacionalidad }}. </p>
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/owner.js' %}"></script>
{% endblock scripts %}